html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #2e2d32;
  color: #efeef6;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #cdb2e8;
}

a {
  color: #b089fe;
}

# this is a change in the github
